__pycache__
.pyodide*
build
dist
emsdk
.DS_Store
payload_id_list.txt
custom_field_list.json
setup.py
web/webhorus-*
webhorus/setup.py
web/src/dev-dist
.vscode/

web/.yarn/*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Whether you use PnP or not, the node_modules folder is often used to store
# build artifacts that should be gitignored
node_modules

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*
